@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/pagination';

@layer base {
  :root {
    --info: 206 92% 69%;
    --info-foreground: 210 78% 16%;
    --warning: 35 100% 50%;
    --warning-foreground: 28 100% 11%;
    --danger: 357 100% 67%;
    --danger-foreground: 353 68% 16%;
    --success: 144 100% 40%;
    --success-foreground: 133 100% 10%;
  }

  .dark {
    --info: 206 92% 69%;
    --info-foreground: 210 78% 16%;
    --warning: 35 100% 50%;
    --warning-foreground: 28 100% 11%;
    --danger: 357 100% 67%;
    --danger-foreground: 353 68% 16%;
    --success: 144 100% 40%;
    --success-foreground: 133 100% 10%;
  }

  html {
    @apply scroll-smooth bg-background text-text antialiased;
  }

  * {
    @apply border-border outline-offset-4;
  }
}

/* shadcn dropdown hides scroll when it's open */
body[data-scroll-locked] #main-header {
  padding-right: var(--removed-body-scroll-bar-size);
}

img {
  object-fit: cover;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-foreground;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-primary;
}
